* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: dodgerblue;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    height: 450px;
    width: 300px;
    background-color: white;
       border-radius: 10px;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#container i{
    color: white;
    font-size: 75px;
    transform: translate(-50%,-50%) scale(0);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all ease 0.6s;
}