* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  width: 100%;
  height: 100%;
  font-family:'Times New Roman', Times, serif;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

#main{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
h1 {
    color: white;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}

.cursor{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
    cursor: pointer;
    mix-blend-mode: difference;
}

