@font-face{
  font-family: porsche;
  src: url(./911\ Porscha.ttf) 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
}
main{height: 100%;
width: 100%;
display: grid;
    grid-template-rows: none;
grid-template-columns: repeat(3, 1fr);
grid-template-areas:
  "nav nav nav"
  "header header header"
  "section section section";
  

                         grid-gap: 12px;}


  nav{
grid-area: nav;
background-color: white;
color: black;
gap: 40px;
display: flex;
justify-content: space-between;
align-content: space-between;
border: black 1px solid;
width:99.2vw;

}
nav h1 {
  height:70px !important;
  width: 300px;
  
  font-family: porsche;
  font-weight: 400;
  justify-content: center;
  align-content: center;}
nav i {
  
  
  display: flex;
  margin-top: 1.5%;
  
}
header i h1{ margin-left: 30%;
margin-top: 3%;
font-size: 200px;
z-index: 1;
position: relative;
color: grey;}
header img{
  width: 1200px;
  top: 25%;
  z-index: 2;
  position: absolute;
  margin-left: 16%;
 

}


  header{grid-area: header;
background:linear-gradient( white,grey );
font-family: porsche;
color: white;
transition: all  .4s cubic-bezier(0.19, 1, 0.22, 1);
position: relative;
height: 80vh;
width: 99.2vw;
}
header h2{
  top: 76%;
  margin-left: 25%;
  font-size:60px;
  color: white;
  position: absolute;
}
header button{
  top:86% !important;
  left: 45%;
  position: absolute;
  z-index: 3;
 padding: 20px 35px;
   font-size: 15px;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 10000000000px;
}
header button:hover {
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  color: black;
  
}
header p{position: absolute;
  justify-content: center ;
  align-content: center;
  left: 30%;
  top: 97%;
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{grid-area: section;

color: white;
position: relative;
background-color: black;
height: 80vh;
width: 99.2vw;
display: flex;
overflow: hidden;
}
section img{
  height: 100%;

  object-fit: cover;
  
  border: 2px transparent solid;
  border-radius: 9px;
  position: absolute;
 flex-grow: 0;
 transition: all 0.4s ease;
 z-index: 1;
 overflow: hidden;
}
section img:hover{
  flex-grow: 2;
    transform: scale(1.05);
}
section h1{
  
  position: absolute;
  top: 70%;
  color: white;
  text-align: center;
  z-index: 5;
  margin-left: 13%;
  margin-top: 5%;
}
section h2{
   position: absolute;
  top: 3%;
  color: white;
  text-align: center;
  z-index: 5;
  margin-left: 73%;
  margin-top: 5%;
  font-size: 70px;
}
section h3{
   position: absolute;
  top: 3%;
  color: white;
  text-align: left;
  z-index: 5;
  margin-left: 73%;
  margin-top: 20%;
  font-size: 20px;
}
section p{
  margin-left: 11.4%;
  position: absolute;
  margin-top: 36%;
  color: white;
  justify-items: center;
  align-items: center;
  text-align: center;
  z-index: 5;
}

#parent{position: relative;
  height: 400px;
  width: 100%;
  background-color: black ;
  margin-top: -.5%;
  flex-wrap: nowrap;
  display: flex;
  gap: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  pointer-events: auto;
  scroll-snap-type: x mandatory;
 
}
#parent::-webkit-scrollbar{display: none;}
.scrollbar1,.scrollbar2,.scrollbar3{
height: 100%;
width: 100%;
margin-right: 680px;
position: relative;
flex-grow: 1;
  transition: all 0.4s ease;
  
}
.scrollbar1 h1, .scrollbar2 h1, .scrollbar3 h1 {
  position: absolute;
  bottom: 290px;
  margin-left: 790px;
  color: white;
  font-size: 30px;
  font-family: porsche;
  z-index: 10;
 
}
.scrollbar1 img,.scrollbar2 img ,.scrollbar3 img{
  height: 400px;
  width: 700px;
  gap: 20px;
  pointer-events: auto;
  flex-grow: 1;
}
 .scrollbar1 p,
.scrollbar2 p,
.scrollbar3 p {
  position: absolute;
  bottom: 140px;        
  left: 750px;          
  width: 400px;          
  max-width: 100%;    
  color: white;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;      
  font-family: Arial, sans-serif;
  white-space: normal;   
  overflow-wrap: break-word;
}
.scrollbar1,.scrollbar2,.scrollbar3 img:hover{
  flex-grow: 2;
  transform: scale(1.05);
}


#class {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* ensures it's above everything */
  margin-top: 36%;
}

#class h4 {
  color: white;
  font-size: 40px;
  font-family: porsche;
  letter-spacing: 1px;
  z-index: 1001;
}

