@font-face{
    font-family: 'key';
    src: url(./Bobbers\ Personal\ Use.ttf);
}
*{margin: auto;
    padding: auto;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}

.box1{
  
  background-image: url(https://images.unsplash.com/photo-1699972551268-05491ecac3fc?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  
  background-size: cover;
  background-repeat: no-repeat;
   height:100%;
  width: 100%; 
  text-align: center;
  font-family: key;
  font-size: large;
 font-weight: 100;
background-position: center;
color: black;
 }

 button{
    background-color: #FFD700;
    color: black;
    border-radius: 5px
 }