h1{
    color: rgb(0, 187, 255);
    background-color:rgb(227, 128, 204);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: oblique;
    text-align: justify ;
    text-transform: none;
}
#zero{
    color: blue;
}
.hit{background-color: lightseagreen;}