* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(94, 94, 218);
}

.piano {
  width: 1000px;
  background-color: #E8DCC2;
  padding: 100px 30px 20px 30px;
  border-radius: 20px;
  position: relative;
}


#white-keys {
  display: flex;
  position: relative;
}

#white-keys .keys {
  height: 280px;
  width: calc(100% / 14);
  border: 2px solid black;
  background: white;
  box-shadow: 0 5px 0 black;
  border-radius: 0 0 5px 5px;
}

#white-keys .keys:active {
  height: 285px;
  box-shadow: 0 2px 0 black;
  transform: translateY(5px);
  background-color: #eee;
  margin-top: -5px;
}



#black-keys {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  z-index: 99;
}

#black-keys .keys {
  position: absolute;
  height: 180px;
  width: 40px;
  background: #000;
  border-radius: 0 0 5px 5px;
}

#black-keys .keys:nth-child(1){ left: 76px; }
#black-keys .keys:nth-child(2){ left: 144px; }
#black-keys .keys:nth-child(3){ left: 278px; }
#black-keys .keys:nth-child(4){ left: 346px; }
#black-keys .keys:nth-child(5){ left: 413px; }
#black-keys .keys:nth-child(6){ left: 548px; }
#black-keys .keys:nth-child(7){ left: 614px; }
#black-keys .keys:nth-child(8){ left: 680px; }
#black-keys .keys:nth-child(9){ left: 815px; }
#black-keys .keys:nth-child(10){ left: 883px; }

#black-keys .keys:active {
  height: 182px;

  background-color: #444;

}
