* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  
}
body {
    height: 100%;
    width: 100%;
   
 
}
main{ height: 100%;
    width: 100%;
    display: flex;
    background-color: rgb(169, 224, 169);
     display: flex;
    justify-content: center;
    align-items: center;
    
}
#panel{
    height: 80%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
}
#ptop{
    height: 100px;
    width: 100%;
    background-color: rgb(105, 187, 105);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30%;
}
.elem{
    display: flex;
    width: 25%;
    align-items: center;
    gap: 20px;
    color: white ;
}
.box{
    color: rgb(93, 164, 93);
    padding: 15px;
    background-color: white;
    font-weight: 500;
    font-size: 25px;
    border-radius: 5px;
}
#pbtm {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100% - 100px);
    width: 100%;
    background-color: #1B5E20;
    padding: 35px;
    color: white;
    
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: rgb(155, 229, 155);
    border-radius: 50%;
}

.bubble:hover{
    background-color: rgb(69, 119, 69);
    cursor: pointer;
}