* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Font;
  cursor: none;
}
*::selection{
    color: whitesmoke;
    background-color: black;
 }

html, body {
  width: 100%;
  height: 100%;

}
#main{
    width: 100%;
}
#home{
    width: 100%;
    min-height: 100vh;
}
#nav{
    width: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height:90px;
}
#nav a{
    text-decoration: none;
    color: black;
    letter-spacing: -1px;
    font-size: 1.1vw;
    font-weight: 400;
    
}
#nav #right-nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

 #right-nav i{
    margin-top: 3px;
    font-size: 20px;

}


#home #homemain{
    width: 100%;
    padding: 12vw 15vw;
}

#homemain h1{
    font-weight: 400;
    font-size: 1.5vw;
}
#heading{
    display: flex;
    gap: 50px;
}
 #homemain #heading h1{
    display: flex;
    font-size: 7vw;
    font-weight: 900;
    letter-spacing: -8px;
    
    color: black;
    line-height: none;
    flex-wrap: nowrap ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }
 #bgvideo1 {
    width: 1100px;    
    height: auto;    
    display: block; 
    margin: 0 auto;      
    margin-top: 12vw;    
    border-radius: 20px; 
}
#homelast {
    width: 100%;
    padding: 5vw 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
    margin-top: 11vw;}
.btndiv button:hover{
    background-color: whitesmoke;
}

#homelast p {
    font-size: 1.6vw;
    font-weight: 400;
    letter-spacing: -.08vw;
    width: 50%;
    margin: 0; 
}

#bgvideo3 {
   
    width: 45%;
    height: auto;
    border-radius: 20px;
}

 #homelast p::selection{
    color: whitesmoke;
    background-color: black;
 }

#featured{
    padding: 5vw 15vw;
}
#fheading>h1{
    line-height: 1;
font-size: 4vw;
font-weight: 400;
}
#fheading>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px black;
}

#fimages{
    display:flex ;
    width: 100%;
   height: 100vh;
   margin-top: 5vw;
}
#fleft{
   overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
    width: 45%;
    height: inherit;
    
}
#fleftelam{
    display: flex;
    width: 100%;
    height: inherit;
    flex-direction: column;
    justify-content: center;

}
#fleftelam h1{
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    margin: 1.5vw 0;
}
#fleftelam h3{
    font-size: 1.3vw;
    font-weight: 400;
}
#fleftelam h4{
    opacity: .5;
}
#fright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:50% ;
   height: inherit;
   
  
}
#fright #images{
    height: 80%;
    width: 90%;
      background-color: green;
}
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btndiv button{
    padding: 1.2vw 2vw;
    border-radius: 100px;
    border: 2px solid #e6e6e6;
    background-color: white;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: -1px;
}
#dev{
    width: 100%;
    padding: 5vw 15vw;
}
#dev h1{
    font-size: 3.8vw;
    font-weight: 600;
    line-height: 1;
    width: 60%;
}
#dev p{
    letter-spacing: -.5px;
    width: 40%;
    font-size: 1.25vw;
    margin-top: 3vw;
    font-weight: 580;
}
#sildes{
    display: flex;
    justify-content: space-evenly;
    padding: 3vw 14vw;
}
.slide{
    width: 30%;
    
}
.slide .img{
    width: 100%;
    border-radius: 10px;
    height: 250px;
    background-color: yellow;
    overflow: hidden;
}
.slide .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide .tag{
    width: fit-content;
    background-color: #f7f7f7;
    padding: 10px 22px;
    margin:20px 0;
    border-radius: 100px;
}
.cursor{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
    cursor: pointer;
    mix-blend-mode: difference;
}















