* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  width: 100%;
  height: 100%;
  font-family:'Times New Roman', Times, serif;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

button{
    background-color: greenyellow;
    padding: 15px;
    border-radius: 10px;
    border: none ;
    color: black;
    position: relative;
    z-index: 9;

    
}

button:active{
    scale: 0.95;
}
