* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: dodgerblue;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    background-color: cornsilk;
    height: 450px;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
     flex-direction: column;

}
#box img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 20px;
    padding: 2%;   
    
}

#box h1 {
    margin: 0 0 0 0;
    color: #800000; 
    font-size: 50px;  
    font-weight: 500;
}
#box h5 {
    margin: 2px 0 0 0;
    color: #0B3D0B;  
    font-size: 22px; 
}

#box button{
    margin: 10px;
    padding: 20px;
    background-color: #0A2A6B;
    border-radius: 10px;
    color: white;
    border: none ;
   cursor: pointer;
}
