* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
}

#card{
    height: 550px;
    width: 400px;
    background-color: rgb(255, 244, 244);
    border-radius: 10px;
    position: relative;
}

#storyiaaan{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid gray;
    padding: 9px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    margin-right: 5px;
}
#storyiaaan::-webkit-scrollbar{
    display: none;
}
.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgb(205, 43, 205);
    display: inline-block;
  
    
}
 .story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
 
 }
 #fullscreen{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
 }