* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  width: 100%;
  height: 100%;
  font-family:'Times New Roman', Times, serif;
}

main{ height: 100%;
width: 100%;
background-color: black;}

.elem{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.elem h1{
    font-size: 6vw;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}
.elem img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    opacity: 0;
    transition:  all 0.2s linear;
}