*{margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}


main{
    background-color:white;
     height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 70% 45% 10%;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "scrollbar1 scrollbar2 scrollbar3"
                         "footer footer footer";
                         grid-gap: 5px;
                         
                         
                         ;
}
header{background-color: white;
grid-area: header;
display: flex;
gap: 50px;
}

header img{height: 40px !important;
gap: 10px;
margin-left: 10%;
justify-content: center;
align-content: center;
margin-top: 0.5%;
object-fit: cover;}

header > a{display: flex;
    text-align: center;
    gap: 54px;
    margin-top: .5%;
    margin-bottom: 0%;
    text-decoration: none;
    color: black;
    justify-items: center;
    align-items: center;
}
header >i{display: flex;
    text-align: center;
    gap: -20px;
    margin-top: .5%;
    margin-bottom: 0%;
    text-decoration: none;
    color: black;
    justify-items: flex-end;
    align-items: center;}
nav{background: linear-gradient(135deg, #0F0C29, #302B63, #24243E);
    grid-area: nav;
}
nav img{
    height: 700px;
    
    margin-left: 40%;
top: -5px;
bottom: 0;
position: absolute;
z-index: 1;}
nav h1{
    left: 1%;
    top: 25%;
    color:  #F3F4F6;
    font-size: 250px;
    position: relative;
    z-index: 2;
    user-select: none;
    text-align: center;
     mix-blend-mode: difference;

}
nav h2{margin-left: 70%;
    margin-top: 110px !important;
    color:  #f3f4f6;
    font-size: 80px;}
    nav p{
        margin-left: 5%;
    color:#F3F4F6 ;
text-align: right;  
margin-right: 2%; }
nav button{margin-left: 50%;
bottom: 23%;
position: absolute;
background-color: #fff;
  color: whitesmoke !important;
  
  padding: 6px;
  border-radius: 30px;
  font-size: 10px;
  cursor: pointer;
  background-color:transparent;
  color: #000;
  border: black;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  z-index: 2;
   
}
nav button:hover{transition: all ease-in .2s ;
  
  border: 2px solid aqua;
  border-radius: 50px;
  padding: 5px;
color:white ;
;}
   
header > a:hover  {
  transition: color  ease-in .4s;
  border: 2px solid black;
  border-radius: 30px;
  padding: 20px;
}

.scrollbar1{background-color: #382263;
    grid-area:scrollbar1 ;
border: 5px solid transparent;
border-radius: 30px;
margin-left: 2%;
}
.scrollbar1 p{
    color: whitesmoke;
    margin-top: 2%;
    font-size: 45px;
    margin-left: 12%;
}
.scrollbar2{background-color:#382263;
     grid-area:scrollbar2 ;
border: 5px solid transparent;
border-radius: 30px;
margin-left: 2%
}
.scrollbar2 p{
    color: whitesmoke;
    margin-top: 2%;
    font-size: 45px;
    margin-left: 8%;
     font-weight: 2000!important;
}
.scrollbar3{background-color: #382263;
    grid-area:scrollbar3 ;
border: 5px solid transparent;
border-radius: 30px;
margin-left: 2%}
.scrollbar3 p{
    color: whitesmoke;
    margin-top: 2%;
    font-size: 45px;
    margin-left: 8%;
     font-weight: 2000!important;
}
.scrollbar3 i{
    font-size: 60px;
    font-weight: 2000px;
}
footer{background-color:gray;
    grid-area: footer;
}
footer h1{
    margin-left: 40%;
}